[submodule "ps4-orbisdev"]
	path = ps4-orbisdev
	url = git@github.com:PacBrew/ps4-orbisdev.git
[submodule "ps4-orbisdev-portlibs"]
	path = ps4-orbisdev-portlibs
	url = git@github.com:PacBrew/ps4-orbisdev-portlibs.git
