[submodule "ps4-openorbis"]
	path = ps4-toolchain
	url = https://github.com/PacBrew/ps4-openorbis.git
[submodule "ps4-openorbis-portlibs"]
	path = ps4-portlibs
	url = https://github.com/PacBrew/ps4-openorbis-portlibs.git
[submodule "android-toolchain"]
	path = android-toolchain
	url = https://github.com/PacBrew/android-toolchain.git
[submodule "android-portlibs"]
	path = android-portlibs
	url = https://github.com/PacBrew/android-portlibs.git
[submodule "dc-portlibs"]
	path = dc-portlibs
	url = https://github.com/PacBrew/dc-portlibs.git
[submodule "dc-toolchain"]
	path = dc-toolchain
	url = https://github.com/PacBrew/dc-toolchain.git
